<!--
<div class="mainLogo">
    <ion-item>
        <ion-icon name="cash-outline"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-label>KFK</ion-label>
    </ion-item>
    <ion-item>
        <ion-icon name="cash-outline"></ion-icon>
    </ion-item>
</div>

-->
<ion-list-header class="header">
    <ion-item class="gauche">
        <ion-label>Les produits</ion-label>
    </ion-item>
    <ion-item class="milieu">
    </ion-item>
    <ion-item class="droite">
        <ion-label>Mon panier</ion-label>
        <!--<p>{{commande.articles.length}}</p>-->
        <ion-icon name="basket-outline">

        </ion-icon>

    </ion-item>
</ion-list-header>